<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <span class="navbar-brand">{{ title }}</span>
  </div>
</nav>

<div class="container main-container">
  <router-outlet></router-outlet>
</div> <!-- /container -->

<!--<a class="github-fork-ribbon right-top d-none d-md-block" href="https://github.com/kbarnes3/AeonsEnd" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>-->
<footer class="footer" role="contentinfo">
  <div class="container">
    <p>&copy; 2020 BaseAngularAppAuthors </p>
  </div>
</footer>
